@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

body {
    background: rgba(255, 255, 255, 0);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame {
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    color: #333;
    border-radius: 10px;
}

.center {
    position: absolute;
    border-radius: 5px;
    top: 30%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
}

.carousel {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 100px;
    line-height: 120px;
    height: 120px;
}

.carousel .pre {
    position: absolute;
    top: 0;
    right: 46%;
    height: 120px;
    font-weight: 300;
    margin-right: 0px;
}

.carousel .change_outer {
    position: absolute;
    top: 0;
    left: 54%;
    text-align: left;
    height: 120px;
    overflow: hidden;
    margin-left: 0px;
}

.carousel .change_outer .change_inner {
    position: relative;
    animation: rotate 20s ease-in-out infinite;
}

.carousel .change_outer .element {
    display: block;
}

.contains-graduate-info {
    align-self: center;
    margin-top:300px;
    width: 600px;
    font-size: 30px;
    color: black;
    text-align: center;
}

.contains-info {
    margin-top: 30px;
    font-size: 20px;
    color: black;
    text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: blue
}

.contains-rrss {
    align-self: center;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 40px;
    margin-left: 10px;
}

@keyframes rotate {

    0%,
    7%,
    100% {
        transform: translateY(0);
    }

    8%,
    15% {
        transform: translateY(-120px);
    }

    16%,
    23% {
        transform: translateY(-240px);
    }

    24%,
    31% {
        transform: translateY(-360px);
    }

    32%,
    39% {
        transform: translateY(-480px);
    }

    40%,
    47% {
        transform: translateY(-600px);
    }

    48%,
    55% {
        transform: translateY(-720px);
    }

    56%,
    63% {
        transform: translateY(-840px);
    }

    64%,
    71% {
        transform: translateY(-960px);
    }

    72%,
    79% {
        transform: translateY(-1080px);
    }

    80%,
    87% {
        transform: translateY(-1200px);
    }

    88%,
    95% {
        transform: translateY(-1320px);
    }
}

@media screen and (max-width:768px) {
    .contains-graduate-info{
        width: 300px;
    }
    .carousel{
        font-size: 50px;
    }
    .contains-graduate-info{
        margin-top: 300px;
    }
}